<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.plexapp.plugins.gameone</string>
    <key>PlexClientPlatforms</key>
    <string>*</string>
    <key>PlexFrameworkVersion</key>
    <string>2</string>
	<key>PlexURLServices</key>
    <dict>
        <key>Game One</key>
        <dict>
			<key>Identifier</key>
			<string>com.plexapp.plugins.gameonemedia</string>
            <key>URLPattern</key>
                  <string>http://(sd\.)?media\.gameone\.de/+</string>
            <key>TestURLs</key>
            <array>
                <string>http://media.gameone.de/726</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>